
body {
  background-image: url("https://image.freepik.com/free-vector/animal-background-with-cute-pets-illustration_53876-99291.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
/* Dropdown Button */

.dropbtn {

 background-color:rgb(228, 218, 195);
  color: rgb(139,69,19);;
  padding: 16px;
  font-size: 15px;

  border: none;


}

/* The container <div> - needed to position the dropdown content */
.dropdown {

  position: relative;

}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;

}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}
h1{
   font-size: 40px;
  position: relative;

  font-family: Bradley Hand, cursive;


}